---
import { Image } from "astro:assets";

const { title, url, description, pubDate, author, image, tags } = Astro.props;
---

<article class="flex flex-col flex-1 h-full">

  <a href={url} title={title} class="group block">
    <div class="block w-full lg:col-span-2">
      <Image
        width={1200}
        height={630}
        src={image}
        alt={title}
        class="object-cover w-full h-full bg-center aspect-12/8 rounded-xl"
      />
    </div>
  </a>

  <div class="mt-4">

    <!-- AUTHOR + DATE -->
    <div class="flex items-center space-x-1 text-xs text-base-400">
      <span class="font-medium">{author}</span>
      <span aria-hidden="true">&middot;</span>
      <time datetime={pubDate}>{pubDate}</time>
    </div>

    <!-- TITLE -->
    <h3 class="mt-3 text-base text-base-50 text-balance">
      <a href={url} class="hover:text-white transition">
        {title}
      </a>
    </h3>

    <!-- DESCRIPTION -->
    <p class="mt-2 text-sm text-base-300 line-clamp-2">
      {description}
    </p>

  </div>

</article>
